@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

/* base.css */
::-webkit-scrollbar {
  display: none;
}

@layer base {
    h1, h2, h3, h4, h5, h6 {
      /* Heading styles */
      font-weight: bold;
      margin-bottom: 0.5rem;
    }
    html{
        font-family:'Bebas+Neue', 'Oswald', sans-serif;
        line-height: 1.6;
    }
    body{
      background-color: black;
     
    }
    a {
      /* Anchor styles */
      color: #3182ce;
      text-decoration: none;
    }
  }
  